$primary: #45a28e;
$secondary: #66fcf1;
$textcolor: #c5c6c7;
$background: #1f2833;
$background_secondary: #1a1d26;

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: $background;
    overflow-x: hidden;
    border: 1px solid pink;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}
