// animation for columns
@keyframes entry-bottom {
    0% {
        margin-bottom: -20rem;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes entry-top {
    0% {
        margin-top: -20rem;
        opacity: 0;
    }
    100% {
        margin-top: 3rem;
        opacity: 1;
    }
}

@mixin column() {
    // border: 1px solid red;
    height: 75vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
}

@mixin column-div() {
    // border: 1px solid red;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: padding 0.2s ease-in;

    &:hover {
        padding: 8rem 0;
        border: 5px solid #66fcf1;

        h5 {
            visibility: visible;
        }
    }
}

@mixin column-h5() {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    background: #66fcf1;
    padding: 0.5rem 0;
    justify-content: center;
    visibility: hidden;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .container {
        display: flex;

        .column_1,
        .column_3 {
            @include column();
            margin-top: 3rem;
            animation: entry-top 1.5s ease-in;

            div {
                @include column-div();

                h5 {
                    @include column-h5();
                    // border: 1px solid red;
                }
            }
        }

        .column_2,
        .column_4 {
            @include column();
            animation: entry-bottom 1.5s ease-in;

            div {
                @include column-div();

                h5 {
                    @include column-h5();
                }
            }
        }
    }
}
