main {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7%;
  border: 1px solid red;
  overflow: hidden;
}

@-webkit-keyframes stretch {
  0% {
    -webkit-box-flex: 0;
            flex-grow: 0;
  }
  100% {
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
}

@keyframes stretch {
  0% {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  100% {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@-webkit-keyframes entry {
  0% {
    width: 10vw;
  }
  100% {
    width: 35vw;
  }
}

@keyframes entry {
  0% {
    width: 10vw;
  }
  100% {
    width: 35vw;
  }
}

@-webkit-keyframes name-entry {
  0% {
    opacity: 0;
    margin-top: 5rem;
  }
  100% {
    opacity: 1;
    margin-top: 1.5rem;
  }
}

@keyframes name-entry {
  0% {
    opacity: 0;
    margin-top: 5rem;
  }
  100% {
    opacity: 1;
    margin-top: 1.5rem;
  }
}

@-webkit-keyframes highlight {
  0%,
  100% {
    padding: 14px 32px;
  }
  50% {
    padding: 25px 45px;
  }
}

@keyframes highlight {
  0%,
  100% {
    padding: 14px 32px;
  }
  50% {
    padding: 25px 45px;
  }
}

main .firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5em;
  width: 70%;
}

main .firstline h5 {
  font-size: 3.5em;
  font-style: italic;
  color: #c5c6c7;
}

main .firstline hr {
  margin-left: 5%;
  background: #c5c6c7;
  color: #c5c6c7;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 0.3em;
  -webkit-animation: stretch 1s ease-in;
          animation: stretch 1s ease-in;
}

main .secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  width: 70%;
}

main .secondline .name {
  font-size: 5em;
  color: #66fcf1;
  height: 2rem;
  overflow: visible;
  margin-top: 1.5rem;
  -webkit-animation: name-entry 2s ease-out;
          animation: name-entry 2s ease-out;
}

main .thirdline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 70%;
}

main .thirdline hr {
  background: #c5c6c7;
  color: #c5c6c7;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 0.3em;
  -webkit-animation: stretch 1s ease-in;
          animation: stretch 1s ease-in;
}

main .thirdline h6 {
  margin-left: 5%;
  font-size: 1.5em;
  color: #c5c6c7;
}

main .fourthline {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  padding-right: 5rem;
}

main .fourthline .button_primary {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #66fcf1;
  border: none;
  color: black;
  padding: 14px 32px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 0.9rem;
  -webkit-box-shadow: 0 15px 30px -12px;
          box-shadow: 0 15px 30px -12px;
  -webkit-animation: highlight 1s 2.5s ease-in-out;
          animation: highlight 1s 2.5s ease-in-out;
}

main .fourthline .button_primary:hover, main .fourthline .button_primary:focus {
  background: #45a28e;
  cursor: pointer;
}

main .slant_left {
  background: #1a1d26;
  position: absolute;
  top: 0;
  left: -5rem;
  z-index: -1;
  width: 35vw;
  height: 100%;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  -webkit-animation: entry 1s ease-in;
          animation: entry 1s ease-in;
}

main .slant_right {
  background: #1a1d26;
  position: absolute;
  top: 0;
  right: -7rem;
  z-index: -1;
  width: 35vw;
  height: 100%;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  -webkit-animation: entry 1s ease-in;
          animation: entry 1s ease-in;
}

@media (max-width: 900px) {
  .firstline {
    font-size: 0.6rem;
  }
  .secondline {
    font-size: 0.6rem;
  }
  .thirdline {
    font-size: 0.6rem;
  }
  .fourthline {
    margin-left: 5rem;
  }
}

@media (max-width: 500px) {
  main {
    margin-left: 0;
  }
  .firstline {
    font-size: 0.4rem;
  }
  .secondline {
    font-size: 0.7rem;
    margin-top: -8%;
    margin-bottom: 7%;
  }
  .thirdline {
    font-size: 0.4rem;
  }
  .fourthline {
    margin-left: 5rem;
  }
}
/*# sourceMappingURL=Home.module.css.map */