$primary: #45A28E;
$secondary: #66FCF1;
$textcolor:  #c5c6c7;
$background: #1F2833;
$background_secondary: #1A1D26;

.portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    margin-left: 7%;
    // border: 1px solid red;

}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    // border: 1px solid red;
    
    h2 {
        color: $primary;
        margin-right: 1em;
    }

    hr {
        height: 8%;
        flex: 1;
        border: none;
        background: $primary;
    }
}

@media screen and (max-width: 500px) {
    .portfolio {
        margin-left: -5%;
    }

    .title {
        justify-content: center;
        height: 3em;
        margin-bottom: 2em;
        border-bottom: 3px solid $primary;
        // border: 5px solid $primary;
        
        h2 {
        }

        hr {
            display: none;
        }
    }
}