.chart {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

@media screen and (max-width: 1000px) {
    .chart {
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
    .chart {
        width: 85%;
    }
}

@media screen and (max-width: 560px) {
    .chart {
        width: 75%;
    }
}
