$primary: #45a28e;
$secondary: #66fcf1;
$textcolor: #c5c6c7;
$background: #1f2833;
$background_secondary: #1a1d26;

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
    width: 100%;
    height: 100%;
    // max-height: ;
    margin-left: 10%;
}

.title {
    display: flex;
    align-items: center;
    width: 50%;
    height: 10%;
    // border: 1px solid red;

    hr {
        height: 8%;
        flex: 1;
        border: none;
        background: $primary;
    }
}

.message {
    // border: 1px solid red;
    width: 70%;
    height: 10%;
    text-indent: 4em;
    color: $textcolor;
}

.author {
    width: 100%;
    font-weight: 600;
    text-align: right;
}

h2 {
    color: $primary;
    margin-right: 1em;
}

.data_display {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.toggle {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 8px;
    align-items: center;
    width: 15em;
    height: 2.5em;
    margin: 1em 2.2em;
    background-color: $background_secondary;
}

h4 {
    color: $textcolor;
}

.display {
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    .skills {
        margin-left: 0;
        // margin-bottom: 20vh;
    }

    .title {
        margin-top: 2em;
        flex-direction: column;
        justify-content: center;
        height: 3em;
        border-bottom: 3px solid $primary;
        
        h2 {
            padding-top: 0.4em;
        }
    }

    .message {
        text-indent: 2.5em;
    }
}