main {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .firstline {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 70%;

        h5 {
            font-size: 3.5rem;
            font-style: italic;
            color: #c5c6c7;
        }

        hr {
            margin-left: 2rem;
            background: #c5c6c7;
            color: #c5c6c7;
            flex-grow: 1;
            height: 0.3rem;
        }
    }

    .secondline {
        display: flex;
        align-items: center;
        height: 10rem;
        width: 70%;

        h3 {
            font-size: 5rem;
            color: #66fcf1;
            height: 2rem;
            margin-top: 1.5rem;
        }
    }

    .thirdline {
        display: flex;
        align-items: center;
        height: 2rem;
        width: 70%;

        hr {
            background: #c5c6c7;
            color: #c5c6c7;
            flex-grow: 1;
            height: 0.3rem;
        }

        h6 {
            margin-left: 2rem;
            font-size: 1.5rem;
            color: #c5c6c7;
        }
    }

    .fourthline {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        padding-right: 5rem;

        button {
            background: #66fcf1;
            border: none;
            color: black;
            padding: 14px 32px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 10pt;
            box-shadow: 0 15px 30px -12px;

            &:hover {
                background: #45a28e;
            }
        }
    }
}
