$primary: #45A28E;
$secondary: #66FCF1;
$textcolor:  #c5c6c7;
$background: #1F2833;
$background_secondary: #1A1D26;

main {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7%;
    // border: 1px solid red;

    // animation for horizontal breaks
    @keyframes stretch {
        0% {
            flex-grow: 0;
        }
        100% {
            flex-grow: 1;
        }
    }

    // animation for slanting divs
    @keyframes entry {
        0% {
            width: 10vw;
        }
        100% {
            width: 35vw;
        }
    }

    // animation for name entry
    @keyframes name-entry {
        0% {
            opacity: 0;
            margin-top: 5rem;
        }
        100% {
            opacity: 1;
            margin-top: 1.5rem;
        }
    }

    // animation for button highlight
    @keyframes highlight {
        0%,
        100% {
            padding: 14px 32px;
        }
        50% {
            padding: 25px 45px;
        }
    }

    .firstline {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 70%;

        h5 {
            font-size: 3.5rem;
            font-style: italic;
            color: $textcolor;
        }

        hr {
            margin-left: 2rem;
            background: $textcolor;
            color: $textcolor;
            flex-grow: 1;
            height: 0.3rem;
            animation: stretch 1s ease-in;
        }
    }

    .secondline {
        display: flex;
        align-items: center;
        height: 10rem;
        width: 70%;

        h3 {
            font-size: 5rem;
            color: #66fcf1;
            height: 2rem;
            margin-top: 1.5rem;
            animation: name-entry 2s ease-out;
        }
    }

    .thirdline {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 70%;

        hr {
            background: $textcolor;
            color: $textcolor;
            flex-grow: 1;
            height: 0.3rem;
            animation: stretch 1s ease-in;
        }

        h6 {
            margin-left: 2rem;
            font-size: 1.5rem;
            color: $textcolor;
        }
    }

    .fourthline {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        padding-right: 5rem;

        button {
            background: #66fcf1;
            border: none;
            color: black;
            padding: 14px 32px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 10pt;
            box-shadow: 0 15px 30px -12px;
            animation: highlight 1s 2.5s ease-in-out;

            &:hover, &:focus {
                background: #45a28e;
                cursor: pointer;
            }
        }
    }

    .slant_left {
        background: #1a1d26;
        position: absolute;
        top: 0;
        left: -5rem;
        z-index: -1;
        width: 35vw;
        height: 100vh;
        transform: skewX(-15deg);
        animation: entry 1s ease-in;
    }

    .slant_right {
        background: #1a1d26;
        position: absolute;
        top: 0;
        right: -7rem;
        z-index: -1;
        width: 35vw;
        height: 100vh;
        transform: skewX(-15deg);
        animation: entry 1s ease-in;
    }
}
