// animation for contact info
// @keyframes extend {
//     0% {
//         width: 0%;
//     }
//     100% {
//         width: 70%;
//     }
// }

// @keyframes fade {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;

    .contact_form {
        // border: 1px solid red;
        width: 50%;

        div.contact_message {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;

            h1 {
                // border: 1px solid red;
                font-size: 2.2rem;
                margin-bottom: auto;
                color: #45a28e;
            }

            h2 {
                margin-top: auto;
                // border: 1px solid red;
                color: #c5c6c7;
            }
        }

        p {
            color: #c5c6c7;
            width: 80%;
        }

        form.input_form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 3%;

            input {
                width: 50%;
                margin-top: 2%;
                border: none;
                padding: 0.5rem 0.7rem;
                border-radius: 3px;
            }

            textarea {
                width: 50%;
                min-height: 7rem;
                margin-top: 2%;
                border: none;
                padding: 0.5rem 0.7rem;
                border-radius: 3px;
                font-size: small;
                font-family: inherit;
            }

            button {
                background: #66fcf1;
                border: none;
                color: black;
                padding: 8px 30px;
                margin-top: 3%;
                border-radius: 5px;
                font-weight: bold;
                font-size: 0.8rem;
                box-shadow: 0 15px 30px -12px;

                &:hover {
                    background: #45a28e;
                    cursor: pointer;
                }
            }
        }
    }

    .contact_info {
        width: 30%;
        color: white;
        min-width: 290px;
        // border: 1px solid red;

        p {
            color: #c5c6c7;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-top: 3rem;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 65%;
                min-width: 290px;
                height: 2.5rem;
                background-color: #45a28e;
                border-radius: 50px;
                margin-top: 1rem;
                // animation: extend 1s ease-in;

                img {
                    width: 2.7rem;
                    height: 1.5rem;
                    padding: 0.5rem 0;
                    background-color: white;
                    border-radius: 50px;
                }

                h4 {
                    // border: 1px solid red;
                    flex-grow: 1;
                    text-align: center;
                    font-weight: 600;
                    // animation: fade 4s ease-in;
                }
            }
        }
    }
}
