$primary: #45a28e;
$secondary: #66fcf1;
$textcolor: #c5c6c7;
$background: #1f2833;
$background_secondary: #1a1d26;

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    // border: 1px solid red;

    .contact_form {
        // border: 1px solid red;
        width: 50%;
        margin-bottom: 3em;

        .contact_message {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;

            h1 {
                // border: 1px solid red;
                font-size: 2.2em;
                margin-bottom: auto;
                color: #45a28e;
            }

            h2 {
                margin-top: auto;
                // border: 1px solid red;
                color: #c5c6c7;
            }
        }

        p {
            color: #c5c6c7;
            width: 80%;
            font-size: 1.1em;
        }

        form.input_form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 3%;
            min-width: 450px;

            input {
                width: 50%;
                margin-top: 2%;
                border: none;
                padding: 0.5rem 0.7rem;
                border-radius: 3px;
            }

            textarea {
                width: 50%;
                min-height: 7rem;
                margin-top: 2%;
                border: none;
                padding: 0.5rem 0.7rem;
                border-radius: 3px;
                font-size: small;
                font-family: inherit;
            }

            button {
                background: #66fcf1;
                border: none;
                color: black;
                padding: 8px 30px;
                margin-top: 3%;
                border-radius: 5px;
                font-weight: bold;
                font-size: 0.8rem;
                box-shadow: 0 15px 30px -12px;

                &:hover {
                    background: #45a28e;
                    cursor: pointer;
                }
            }
        }
    }

    .contact_info {
        width: 30%;
        color: white;
        min-width: 290px;
        margin-bottom: 3em;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;

        p {
            color: #c5c6c7;
            font-size: 1em;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-top: 3rem;
            margin: 0;
            padding: 0;
            font-size: 1em;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 65%;
                min-width: 290px;
                height: 2.5rem;
                background-color: #45a28e;
                border-radius: 50px;
                margin-top: 1rem;
                font-size: 1em;
                // animation: extend 1s ease-in;

                img {
                    width: 2.7rem;
                    height: 95%;
                    background-color: $primary;
                    border-radius: 50px;
                }

                h4 {
                    // border: 1px solid red;
                    flex-grow: 1;
                    text-align: center;
                    font-weight: 600;
                    color: white;
                    font-size: 1em;
                    // animation: fade 4s ease-in;
                }
            }
        }
    }

    hr {
        position: absolute;
        top: 50%;
        left: 56%;
        background-color: $primary;
        width: 0.5em;
        border: none;
        height: 50vh;
    }
}

@media (max-width: 850px) {
    div.contact {
        flex-direction: column;
        height: fit-content;

        .contact_form {
            width: 80%;
        }

        .contact_info {
            width: 80%;
        }

        hr {
            display: none;
        }
    }
}

@media (max-width: 500px ) {
    .contact_message {
        font-size: 0.8rem;
    }
    .contact {
        margin-bottom: 10vh;
        margin-left: 0;
    }
}