nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1A1D26;
    width: 7%;
    min-width: 80px;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-top: 0;
    border: 1px solid green;

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1.2rem 0;
        background: inherit;
        border: none;
        font-weight: bold;
        text-decoration: none;
        color: white;
        font-size: 0.7rem;

        &:hover, &:focus {
            background: #2f5049;
        }

        img {
            width: 30%;
        }
    }
}

@media screen and (max-width: 500px) {
    nav {
        flex-direction: row;
        width: 100vw;
        height: 9vh;

        .link {
            width: 20%;
        }
    }
}